.text-sm{
    font-size: 14px;
}
.book-image{
    width: 130px;
}

.select2-container {
    min-width: 200px;
}


.select2-container .select2-selection--single {
    border: 1px solid #ced4da !important;
    min-height: 38px;
    /* Center text inside */
    display: flex !important;
    align-items: center;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 5px !important;
    top: unset !important;
}

.htmx-indicator{
    display: none;
}

.htmx-request .htmx-indicator{
    display:inline;
}
.htmx-request.htmx-indicator{
    display:inline;
}

#message{
    display: none;
}

#message.htmx-settling{
    display: block;
}
